table {
    border: 4px solid black;
    table-layout: fixed;
    width: 1585px;
    height: 740px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mudar:hover {
    background: linear-gradient(45deg, #833ab4, #fd1d1d, #fcb045);
    background-size: 300% 300%;
    animation: quadrado 10s ease infinite;
    border-radius: 20px;
    font-size: 50px;
    width: 100px;
    height: 100px;
}

@Keyframes quadrado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.gradient {
    display: block;
    background: linear-gradient(45deg, #7f48ff, #28a7c7, #1f7e43, #9DDAC6);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@Keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}